
.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
  width: 80%;
  margin-left: 5%;
  margin-right: 5%;
  font-style: Sans-Serif;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #f3f2ef; */
  background-color: var(--primaryBackgroundColor)
}

html.light {
  --primaryBackgroundColor: #f3f2efb2;
  --primaryTextColor: #1666C5;
  --headerColor: #1666C5;
  --secondaryBackgroundColor: #f3f2efb2;
}

html.dark {
  --primaryTextColor: white;
  --primaryBackgroundColor: black;
  --headingTextColor: white;
  --secondaryBackgroundColor: black;
  --headerColor: rgba(255, 217, 0, 0.808);
}


@media (prefers-color-scheme: light) {
  html {
    --primaryBackgroundColor: #f3f2efb2;
    --primaryTextColor: #1666C5;
    --headerColor: #1666C5;
  }
}


@media (prefers-color-scheme: dark) {
  html {
    --primaryTextColor: white;
    --primaryBackgroundColor: black;
    --headingTextColor: white;
    --secondaryBackgroundColor: black;
    --headerColor: rgba(255, 217, 0, 0.808);
  }
}

body {
  background: var(--secondaryBackgroundColor);
}

input {
  height: 40px;
  width: 50%;
  border: none;
  border-bottom: 2px #101113 solid;
  background: none;
  font-size: 1.5rem;
  color: #787a80;
}

h1, .solution {
  color: var(--headerColor);
}

input:focus {
  outline: none;
}

.restartGame{
  font-weight: bold;
  color: var(--headerColor);
}

.title {
  display: flex;
  justify-content:center;
  align-items: center;
  height: 6em;
}

.logo {
  font-style: Sans-Serif;
  color: var(--headerColor);
  font-weight: bold;
}

.logo2 {
  font-style: Sans-Serif;
  color: white;
  font-weight: bold;
  background-color: var(--headerColor);
  border-radius: 10%;
}

button {
  background-color: var(--headerColor);
  width: 15rem;
  height: 3rem;
  border: none;
  border-radius: 10px;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  cursor: pointer;
}

@media only screen and (min-width: 300px) {
  .App {
    width: 80%;
  }

  input {
    width: 100%
  }

  button {
    width: 100%;
    margin-top: 15px;
    margin-left: 0;
  }
}

@media only screen and (min-width: 640px) {
  .App {
    width: 60%;
  }

  input {
    width: 50%;
  }

  button {
    width: 30%;
    margin-left: 10px;
    margin-top: 0;
  }
}