.tableGuesses {
  border-style:groove;
  border-color:#1666C5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.inputRow {
  display: inline-block;
}

.score, .hints, .feedback, .timer, .remainingGuesses, .difficulty-details, h5, .difficulty {
  color: var(--headerColor)
}

.difficulty {
  display: flex;
  justify-content: space-evenly;
  margin: 5%;
  border: solid #1666C5
}

.currentDifficulty {
  font-weight: bold;
}


