.feedback {
  height: 1em;
  width: 1em;
  background-color: rgb(189, 177, 177);
  border-radius: 20%;
  margin-inline: 1%;
  margin: 5%;
}

.feedbackRow {
  display: flex;
  justify-content: space-evenly;
}
