.feedback {
  height: 1em;
  width: 1em;
  background-color: var(--primaryBackgroundColor);
  border-color: var(--secondaryBackgroundColor);
  border-radius: 20%;
  margin-inline: 1%;
  margin: 5%;
}

.feedbackRow {
  display: flex;
  justify-content: space-evenly;
}
